<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link rel="icon" href="static/img/LOGOsolito.png">
    <link rel="stylesheet" href="static/css/principal.css">

    <title>Zloty - Principal</title>

</head>
<body style="background-color:#27292D;"></body>

<header>

    <!----------- menu principal --------- -->

        <nav id="menu" class="navbar navbar-expand-lg fixed-top bg-pink">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="static/img/bigblanco.png" alt="" height="80px" width="160px">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <ul class="nav nav-pills nav-fill">
                <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-align: center;">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <div class="i">
                                <i class="fas fa-user-friends"></i>
                            </div>
                            <a class="nav-link btn btn-link" href="/" style="color: #ffffff;">
                                Inicio</a>
                        </li>
                        <li class="nav-item">
                                <div class="i">
                                    <i class="fas fa-user"></i>
                                </div>
                            <a class="nav-link btn btn-link" href="Vista/php/iniciar-sesion.php" style="color: #ffffff;">
                                Iniciar Sesión</a>
                        </li>
                        <li class="nav-item">
                                <div class="i">
                                    <i class="fas fa-registered"></i>
                                </div>
                            <a class="nav-link btn btn-link" href="Vista/php/registro.php" style="color: #ffffff;">
                                Registrarse</a>
                        </li>
                            </div>
                        </li>
                    </ul>
                </div>
                </ul>
            </div>
        </nav>

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item height-carousel active">
                <img src="static/img/carrusel1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item height-carousel">
                <img src="static/img/carrusel2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item height-carousel">
                <img src="static/img/carrusel2.jpg" class="d-block w-100" alt="...">
            </div>
            </div>
        </div>

<div class="contenedorletras">
    <h1>Ven y mira como esta conformado nuestro equipo</h1>

</div>

<div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
        style="height: 100%; width: 100%;">
        <path d="M0.00,49.99 C150.00,150.00 349.20,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z"
            style="stroke: none; fill: #27292D;"></path>
    </svg></div>
</header>


<div class = "container" style=" color: orangered; text-align: center; margin-top: 150px " >
    <h1 >¿Quiénes somos?</h1>
    <br>
    <h6 style=" color: white; font-size: large ">Con la colaboración de nuestro equipo Zloty puedes ayudar a personas que lo necesiten mediante una donación o también puedes registrar tu fundación para ayudar a muchas mas personas.</h6>        
</div>

<div class = "container" style=" color: white;  margin-top: 50px">

    <p style="text-align: justify; text-align: justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, ut id? Obcaecati tempora quaerat vitae nihil facilis illo soluta quisquam veniam, maiores aspernatur expedita, dolor qui necessitatibus pariatur libero magni unde voluptate tenetur numquam et, cupiditate temporibus in minus. Mollitia, voluptate hic.
    </p>
</div>

<div class = "container" style=" color: orangered; text-align: center;  " >
    <h1 >NUESTRO EQUIPO</h1>
    <section style= "width: 100%; height: 100px;display: flex; box-sizing: border-box; margin-top: 5px; margin-bottom: 0px; color: black;">
        <div class="img1" style= "width: 35%;height: 90px;display: flex;">
            <img src="static/img/adriana.jpg" style= "width: 32%;" >
                 <h5> ADRIANA ROMERO <br>
                 Gerente</h5>
        </div>
        <div class="img1" style= "width: 35%; height: 90px; display: flex;">
            <img src="static/img/santiago.jpg" >
                <h5> SANTIAGO GOMES <br>
                Desarrollador</h5>
        </div>
        <div class="img1" style= "width: 35%;height: 90px; display: flex;">
            <img src="static/img/jonathan.png"  >
            <h5> JONATHAN SIERRA <br>Analista</h5>
        </div>
    </section>
    <section style= "width: 100%; height: 50px; display: flex; box-sizing: border-box;
                    margin: auto; color: black;">
        <div class="img1" style= "width: 30%; height: 90px; display: flex;">
            <img src="static/img/kevinc.jpeg"  >
            <h5> KEVIN CAPERA <br> Diseñador</h5>
        </div>
        <div class="img1" style= "width: 35%; height: 90px;  display: flex;">
            <img src="static/img/wilmer.jpg"  >
            <h5> WILMER PERDOMO <br> Supervisor</h5>
        </div>
</section>
</div>

<br><br><br>

{% include 'footer.html' %}